.index {
    text-align: center;
    margin: auto
}

    .index .img {
        padding: 200px 0 0 0;
        width: 200px;
        height: 200px;
    }

    .index .img {
        width: 140px;
        margin: auto
    }

.topMenu {
    position: fixed;
    z-index: 600;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 70px;
    align-items: center;
    justify-content: flex-start
}

   
    .topMenu .a {
        text-decoration: none;
        color: azure;
    }

        .topMenu .a :hover {
            cursor: pointer;
            color: aquamarine;
        }
