<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="dist/bootstrap.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>