<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="dist/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper" class="toggled">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>